@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<head>
    @*...*@
    @DxResourceManager.RegisterTheme(Themes.Fluent)

    <link href=@AppendVersion("css/site.css") rel="stylesheet" />
    <link href=@AppendVersion("<ProjectName>.styles.css") rel="stylesheet" />
    @*...*@
</head>

<div class="d-flex flex-column min-vh-100"
     style="background: linear-gradient(135deg, #ffffff, #cfcceb, #aeabd1) !important;">

    <div class="card menu-card-container w-100">
        <div class="card-body p-0">
            <DxMenu Title="Employee Management" ItemsPosition="ItemPosition.Start" CollapseItemsToHamburgerMenu="true" Target="_blank">
                <Items>
                    <DxMenuItem Text="Home" Click="@OnHomeClick" />
                    <DxMenuItem Text="Employees" Click="@OnGetClick" />
                    <DxMenuItem Text="Editor" Click="@OnEditorClick" />
                </Items>
            </DxMenu>
        </div>
    </div>

    <main class="flex-fill">
        @Body

    </main>

    <footer class="bg-body-tertiary text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2025 Copyright:
            <a class="text-body" href="https://github.com/kallimorou1/EmployeeManagementPortal">
                Melpomeni
            </a>
        </div>
    </footer>
</div>

@code {
    private string AppendVersion(string path) => $"{path}?v={typeof(DevExpress.Blazor.ResourcesConfigurator).Assembly.GetName().Version}";


    void OnGetClick()
    {
        NavigationManager.NavigateTo("/EmployeeManagement");
    }

    void OnHomeClick()
    {
        NavigationManager.NavigateTo("/");
    }

    void OnEditorClick()
    {
        NavigationManager.NavigateTo("/Editor");
    }

}